[submodule "source/vim/pack/user/start/vim-colors-solarized"]
	path = source/vim/pack/user/start/vim-colors-solarized
	url = git@github.com:altercation/vim-colors-solarized.git
[submodule "source/vim/pack/user/start/vim-gitgutter"]
	path = source/vim/pack/user/start/vim-gitgutter
	url = git@github.com:airblade/vim-gitgutter.git
[submodule "source/vim/pack/user/start/vim-markdown"]
	path = source/vim/pack/user/start/vim-markdown
	url = git@github.com:plasticboy/vim-markdown.git
[submodule "source/vim/pack/user/start/editorconfig-vim"]
	path = source/vim/pack/user/start/editorconfig-vim
	url = https://github.com/editorconfig/editorconfig-vim.git
[submodule "source/vim/pack/user/start/vim-surround"]
	path = source/vim/pack/user/start/vim-surround
	url = https://github.com/tpope/vim-surround.git
